# Copy this file to .env and configure for your environment
# cp .env.example .env
#
# You can set up multiple environment files for different configurations (e.g., .env.development, .env.production) and specify which one to use when running the application.
# docker compose --env-file .env.ctf up


# Spring Boot Profile (h2, sqlite, ctf)
SPRING_PROFILES_ACTIVE=sqlite

# JWT Configuration
JWT_SECRET=wespresso-super-secret-key-2026-ctf-challenge
JWT_EXPIRATION=86400000

# Vulnerability Flags (true/false)
VULN_JWT_NONE_ENABLED=false
VULN_SQLI_LOGIN_ENABLED=true  #Set rate limit bypass to true if you want to allow sqli automation (sqlmap)
VULN_RATE_LIMIT_BYPASS_ENABLED=true