# Copy this file to .env and configure for your environment
# cp .env.example .env
#
# You can set up multiple environment files for different configurations (e.g., .env.development, .env.production) and specify which one to use when running the application.
# docker compose --env-file .env.ctf up


# Spawner configuration
SPAWNER_PORT=8080
HOST=localhost
PORT_START=9000
PORT_END=9100

# Spring Boot Profile (h2, sqlite, ctf)
SPRING_PROFILES_ACTIVE=sqlite

# JWT Configuration
JWT_SECRET=wespresso-super-secret-key-2026-ctf-challenge
JWT_EXPIRATION=86400000

# Seed Credentials
ADMIN_PASSWORD=admin1234

#####################################################
###### CTF Flags — change these between sessions ####
FLAG_SQLI=wes{$ql1_1nj3ct10n_w1ns}
FLAG_IDOR_CART=wes{1D0R_3xp0s3d_4dm1n_c4rt}
FLAG_JWT_NONE=wes{n0n3_$hall_p@55}
FLAG_FILE_UPLOAD_EXT_ONLY=wes{file_upload_double_extension_bypass}
FLAG_FILE_UPLOAD_ENDSWITH=wes{file_upload_endswith_bypass}
FLAG_FILE_UPLOAD_MAGIC_BYTE=wes{file_upload_magic_byte_bypass}
FLAG_FILE_UPLOAD_CDR=wes{file_upload_polyglot_cdr_bypass}
FLAG_XXE=wes{xxe_3xt3rn4l_3nt1ty}
FLAG_XXE_HARD=wes{xxe_h4rd_c0nt3nt_typ3_sw4p}
FLAG_SSTI=flag{th1m3l34f_ssti_pwnd}

#####################################################
###### Vulnerability Flags (true/false)##############
VULN_SQLI_LOGIN_ENABLED=true
VULN_RATE_LIMIT_BYPASS_ENABLED=true
VULN_CART_IDOR_ENABLED=true

# RCE / File Read — safe to enable together or independently
VULN_SSTI_THYMELEAF_ENABLED=false
VULN_XXE_ENABLED=false
VULN_XXE_HARD_ENABLED=false

# Gift Card mass assignment — allows amount override in redeem request
VULN_MASS_ASSIGNMENT_ENABLED=false


# Auth,  Run one of the following for clean lab
VULN_JWT_NONE_ENABLED=false
VULN_PASSWORD_IDOR_ENABLED=false
VULN_SESSION_FIXATION_ENABLED=true

# File Upload, Only turn on one upload vuln at a time
VULN_FILE_UPLOAD_EXT_ONLY_ENABLED=false
VULN_FILE_UPLOAD_EXT_ENDS_WITH_ENABLED=false
VULN_FILE_UPLOAD_MAGIC_BYTE_ONLY_ENABLED=false
VULN_FILE_UPLOAD_CDR_BYPASS_ENABLED=true