# For CTS using ghcr.io
# Spring Boot Profile (h2, sqlite, ctf)
SPRING_PROFILES_ACTIVE=sqlite

# JWT Configuration. Key must be at least 32 characters (256 bits) or else you cant log in
JWT_SECRET=wespresso-super-secret-key-2026-ctf-challenge
JWT_EXPIRATION=86400000

# Vulnerability Flags (true/false)
VULN_JWT_NONE_ENABLED=true


